@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	font-family: "Itim", cursive;
	overflow: hidden;
    color: #fff;
}

.outer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.inner {
	width: 50vh;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 40px;
	background: rgba(255, 255, 255, 0.035);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
	letter-spacing: 3px;
}

label {
	font-size: 1em;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

input {
	padding: 10px;
	font-size: 1.2em;
	border: 2px solid #099e76e5;
	border-radius: 10px;
	outline: none;
}

button {
	padding: 20px;
	margin-top: 10px;
	font-size: 15px;
	letter-spacing: 3px;
	font-family: "Itim", cursive;
	font-weight: bold;
	background: #099e76e5;
	color: #fff;
	border: 1px solid #099e76e5;
	border-radius: 20px;
	text-transform: uppercase;
	outline: none;
}
